@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --mainColor: #E93740;
  --main-color: #E93740;
  --secondColor: #f16269;
  --second-color: #f16269;
  --textColor: #6b6b6b;
  --text-color: #6b6b6b;
}


.chapter::after,
.chapter::before {
  content: "";
  height: 5px;
  background-color: var(--mainColor);
  position: absolute;
  bottom: 0;
  border-radius: 50px;
}

.chapter::after {
  width: 30%;
  left: 30%;
}

.chapter::before {
  width: 5%;
  right: 34%;
}

body::-webkit-scrollbar {
  width: 5px;
  height: 0;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}

.menu {
  animation: ShowMenu .4s ease alternate;
}

@keyframes ShowMenu {
  0% {
    transform: translateX(-100%);
  }

  70% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0);
  }
}

.input-groupe>input {
  box-shadow: 0 0 10px 0 gray;
}

.input-groupe>input:valid,
.input-groupe>input:focus {
  border: 2px solid var(--second-color);
  box-shadow: none;
}

.input-groupe>input:focus+label,
.input-groupe>input:valid+label {
  transform: translateY(-40px);
  color: var(--second-color);
  background-color: white;
  font-size: small;
  z-index: 2;
}

@media (max-width: 768px) {

  .groupe>input:focus+label,
  .groupe>input:valid+label {
    color: white;
    background-image: linear-gradient(to top, transparent, var(--main-color), var(--main-color), var(--main-color));
  }

}


/* @media (max-width: 768px) {

  .input-groupe>input:focus+label,
  .input-groupe>input:valid+label {
    color: white;
    background-color: transparent;
    background-image: linear-gradient(to top, white, transparent, transparent, transparent, transparent);
  }
} */


.right {
  left: 50%;
}

.left {
  left: -50%;
}




/* button {
  border: none;
  border-radius: 20px;
  padding: 8px 20px;
  margin: 0 5px;
  transition: .2s;
  cursor: pointer;
} */